ul.animated-border li{
    position: relative;
    padding-bottom: 5px;
    transition: 1s;
    font-weight: 500;
}

ul.animated-border li::before{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    background: #00A4B7;
    transition: 0.3s;
}

ul.animated-border li:hover::before{
    width: 100%;
}

ul.animated-border li a:hover{
    color:#027b88;
}
