ul.animated-border li a{
    position: relative;
    padding-bottom: 5px;
    transition: 1s;
    font-weight: 500;
}

ul.animated-border li a::before{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    background: #00A4B7;
    transition: 0.3s;
}

ul.animated-border li a:hover::before{
    width: 100%;
}


ul.animated-border li a.active::before{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    background: #00A4B7;
    transition: 0.3s;
}
